.FeedbackForm {
  display: flex;
  flex-direction: column;

  padding: 12px;

  width: 500px;
  border: 3px solid #145da0;
  border-radius: 4px;

  background-color: #f6e1db;
  border-image: linear-gradient(45deg, #e18a68, #857291);
  border-image-slice: 1;
}

.FeedbackForm label {
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 8px;
  position: relative;

  border: none;
  outline: none;

  color: #0c2d48;
}

.InputForm {
  padding: 20px 10px 10px 10px;
  margin-bottom: 18px;

  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  border-radius: 4px;

  color: var(--accent-color);
}

.ButtonSubmit {
  display: block;
  padding: 20px 30px;

  margin-left: auto;
  margin-right: auto;

  color: #0c2d48;
  font-size: 14px;

  width: 200px;
  /* text-decoration: none; */
  overflow: hidden;
  border-radius: 4px;
  background-color: #e18a68;
  border: none;
  cursor: pointer;
}
