.list {
	display: flex;
	flex-wrap: wrap;
	color: #6e5f77;
	
	align-items:  flex-start;
	justify-content: center;
	
	gap: 10px;

	margin-left: auto;
	margin-right: auto;
	
}
.title {
	color: #857291;
	text-align: center;
}
.btn {
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;

	color: #6e5f77;
	
	width: 150px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	
	border: none;

}

.item {
	display: flex;
	gap: 20px;

	flex-direction: column;
	width: 180px;
	height: 200px;
	background-color: #F6E1DB;
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
}